<app-add-product (emitirProduct)="addlistProduct($event)" />
<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Existencias</th>
    </tr>
  </thead>
  <tbody>
    @for (item of listaProductos; track $index) {
    <tr>
      <td>{{ item.nombre }}</td>
      <td>{{ item.precio }}</td>
      <td>{{ item.existencias }}</td>
      <td>
        <a href="#" (click)="eliminarProduct(item.id)"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
      <td>
        <a [routerLink]="['/update', item.id]"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
      </td>
    </tr>
    }
  </tbody>
</table>
